/* ОСНОВНЫЕ КЛАССЫ */
:root {
    --primary-color: #050B20; /* Основной цвет */
    --blue-color: #405FF2; /* Синий цвет */
    --white-2-color: #F9FBFC; /* Цвет для подложки в компонентах */
    --green-1-color: #3D923A; /* 1 зеленый цвет */
    --green-2-color: #00B67A; /* 2 зеленый цвет */
    --red-color: #D93025; /* Красный цвет */
    --background-color: #ffffff; /* Цвет фона всех страниц */
}

/* классы для цветов текста */
.primary-color {
    color: var(--primary-color)
}

.blue-color {
    color: var(--blue-color)
}

.white-2-color {
    color: var(--white-2-color);
}

.green-1-color {
    color: var(--green-1-color);
}

.green-2-color {
    color: var(--green-2-color);
}

.red-color {
    color: var(--red-color);
}

/* классы для цветов фона */
.bg-primary {
    background-color: var(--primary-color)!important;
}

.bg-primary1 {
    background-color: #050B20;
}
.bg-white{
    background-color: var(--background-color);
}

.bg-blue {
    background-color: var(--blue-color)
}
.bg-light-blue
{
    background-color: #E9F2FF;
}

.bg-white-2 {
    background-color: var(--white-2-color);
}

.bg-green-1 {
    background-color: var(--green-1-color);
}

.bg-green-2 {
    background-color: var(--green-2-color);
}

.bg-red {
    background-color: var(--red-color);
}

body {
    font-family: "DM Sans", sans-serif;
}


@media screen and (min-width: 1400px) {
    .text-video-slider1 {
        font-size: 70px;
    }
    .calculator {
        font-size: 70px;
    }
    .text-video-slider2 {
        font-size: 40px;
    }
    .text-h2 {
        font-size: 40px;
    }

    .video-wrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
        overflow: hidden;
        max-width: 100%;
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;
    }

    .video-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .slider-bg-color {
        background-color: #EEF1FB;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        height: 378.5px;
    }
}

@media screen and (max-width: 1400px) {
    .video-wrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
        overflow: hidden;
        max-width: 100%;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;

    }

    .video-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .slider-bg-color {
        background-color: #EEF1FB;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }

}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {
    .text-video-slider1 {
        font-size: 50px;
    }
    .calculator {
        font-size: 60px;
    }
    .text-video-slider2 {
        font-size: 33px;
    }
    .text-h2 {
        font-size: 30px;
    }

}

@media screen and (max-width: 768px) {
    .text-video-slider1 {
        font-size: 35px;
    }
    .calculator {
        font-size: 50px;
    }
    .text-video-slider2 {
        font-size: 28px;
    }
    .text-h2 {
        font-size: 28px;
    }
}
@media screen and (max-width: 576px) {
    .text-video-slider1 {
        font-size: 25px;
    }
    .calculator {
        font-size: 35px;
    }
    .text-video-slider2 {
        font-size: 15px;
    }
    .btn-hight{
        height: 25px;
    }
    .text-h2 {
        font-size: 26px;
    }
}



h1 {
    font-size: 70px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
}

.ft-18 {
    font-size: 18px;
}

.ft-16 {
    font-size: 16px;
}

.ft-17 {
    font-size: 17px;
}


.ft-15 {
    font-size: 15px;
}
.ft-14{
    font-size: 14px;
}

.ft-20{
    font-size: 20px;
}
.ft-26{
    font-size: 26px;
}

.ft-38{
    font-size: 38px;
}

.ft-40{
    font-size: 40px;
}

.dm-sans-regular {
    font-weight: 400
}

.dm-sans-medium {
    font-weight: 500
}

.dm-sans-bold {
    font-weight: 700
}


.border-16 {
    border-radius: 16px
}

.border-30 {
    border-radius: 30px
}
.border-40 {
    border-radius: 40px;
}
.border-46 {
    border-radius: 46px;
}
.border-btn
{
    border: 1px solid #E9E9E9;
}
.border-btn:hover
{
    border: 1px solid var(--blue-color);
}
.border-btn1
{
    border: 1px solid #E9E9E9;
}
.border-btn1:hover
{
    border: 1px solid var(--blue-color);
}
.line-through {
    /* Перечёркнутый текст */
    text-decoration: line-through;
}
.h55{
    height: 55px;
}

/* Место для переопределения стилей Bootstrap*/
.nav-link {
    color: var(--primary-color)
}

a{
    text-decoration: none;
}
.btn {border-radius: 16px}

/* Место для кастомных классов */


/* --- price-cards --- */
.custom-list {
    list-style: none;
    padding-left: 0;
}

.custom-list li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 20px;
}

.custom-list li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('assets/image/price-cards/overlay-1.svg');
    background-size: cover;
}

.custom-list-2 {
    list-style: none;
    padding-left: 0;
}

.custom-list-2 li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 20px;
}
.custom-list-2 li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('assets/image/price-cards/overlay-2.svg');
    background-size: cover;
}


.price-cards-border-color{
    border: 1px solid #E9E9E9;
}
.blue-border-color{
    border: 1px solid var(--blue-color);
}
.white-border-color
{
    border: 1px solid white;
}


/*.price-card:hover{*/
/*    transform: scale(1.05);*/
/*    transition: 0.1ms ease-in!important;*/
/*}*/

.price-card button:hover
{
    border: 1px solid var(--blue-color);
    color: white;
    background-color: var(--blue-color);
}
.price-main-btn
{
    background-color: var(--background-color);
    color: var(--blue-color);
    border: 1px solid var(--blue-color);
}
.price-main-btn:hover
{
    color: white;
    border: 1px solid var(--background-color);
    background-color: transparent;
    transition: 0.5ms ease-in;
}
.calc-btn
{
    border: 1px solid var(--blue-color);
    color: white;
    background-color: var(--blue-color);
}
.calc-btn:hover
{
    border: 1px solid var(--blue-color);
    color: var(--blue-color);
    background-color: transparent;
}
.card-button:hover{
    background-color: initial;
    transition: background-color 0.3s, color 0.3s;
}



/* --- single-img-1 --- */
.singleImg1-button{
    background-color: #050B20;
    border-radius: 16px;
    color: white;
    text-align: center;
    padding: 10px;
}
.btn-single
{
    background-color: black;
    border: 1px solid white;
    color: white;
}
.btn-single:hover
{
    background-color: white;
    border: 1px solid black;
    color: black;
    transition: 0.3s linear;
}
/* --- Brands --- */

.brands-border-color {
    border: 1px solid #E9E9E9;
    /*box-shadow: 2px 2px 2px 2px black;*/
}
.brands-background-color{
    background-color: #F9FBFC;
}
.brands-block-bg-color{
    background-color: white;
}

.bg-color{
    background-color: #F9FBFC;
}


/* --- Car-list --- */
.view-all:hover { color: var(--blue-color) }
.view-det:hover { color: var(--primary-color)}


.slick-prev:before,
.slick-next:before {
    color: var(--blue-color);
}
.slick-prev:before,
.slick-next:before {
    color: var(--blue-color);
}

@media (max-width: 768px) {
    .slick-prev,
    .slick-next {
        display: none !important;
    }
}

. rating{ box-shadow: 2px -1px 22px -6px rgba(0,0,0,0.23);}

.bi-star-fill, .bi-star {color: var(--green-1-color)}
.btn-outline-white{color: var(--background-color); border-color: var(--background-color)}
.btn-outline-white:hover{color: var(--blue-color); border-color: var(--blue-color)}


/* FOOTER */
input {
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
}

input:focus {
    outline: 2px solid rgba(255, 255, 255, 1);
}

input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.wrapper {
    position: relative;
}

.wrapper input {
    border: none;
    background: rgba(255, 255, 255, 13%);
    border-radius: 50px;
    padding: 1rem 2rem;
    width: 100%;
}

.wrapper button {
    background: var(--blue-color);
    color: white;
    border: none;
    border-radius: 50px;
    padding: 0px 15px;
    height: 80%;
    position: absolute;
    top: 10%;
    right: 8px;
}

.bg-0
{
    background-color: rgba(255, 255, 255, 0)!important;
}
.bn46 {
    height: 62px;
}
.bn45 { height: 60px; }



/* Navbar */
.navbar-nav .nav-link{ color: white; }
.navbar-nav .nav-link:hover{ color: #6282ff; }

.btn-outline-white{ border: 1px solid white;}

.left-aligned {
    margin-left: 0 !important;
    margin-right: auto !important;
}

/* Login form */
.form-container {
    max-width: 400px;
    margin: auto;
    padding-top: 50px;
}
.form-control:focus {
    box-shadow: none;
    border-color: #4A90E2;
}
.btn-custom {
    background-color: #405FF2;
    color: white;
    border-radius: 10px;
}
.btn-custom:hover {
    background-color: #357ABD;
}
.or-divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.or-divider::before,
.or-divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #E0E0E0;
}


.social-btn {
    border-width: 1px;
}
.social-btn-facebook {
    border-color: #1877F2;
    color: #1877F2;
}
.social-btn-google {
    border-color: #DB4437;
    color: #DB4437;
}
.social-btn-facebook:hover {
    background-color: #1877F2;
    color: white;
}
.social-btn-google:hover {
    background-color: #DB4437;
    color: white;
}

.info-block{
    background-color: #F6F8F9;
    border-radius: 16px;
}


.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.d-grid {
    display: grid;
}

/* Blog-car-info */
.blog-car-text{
    color: #405FF2;
}
.blog-car-bg{
    background-color: #E9F2FF;
    position: relative;
    padding-left: 30px;
    padding: 20px;
    border-radius: 15px;
}
.blog-car-font{
    font-family: 'DM Sans', sans-serif;
    font-style: italic;
    font-weight: 500;
}

.colored-bar {
    border-bottom-left-radius: 15px;
    border-top-left-radius:  15px;
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 100%;
    background-color: #405FF2;
}
.little-blocks{
    background-color: #E9F2FF;
    border-radius: 15px;
}
.comment-color-text{
    color: #02CCAD;
}
.button-color{
    background-color: #405FF2;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation
*/
.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar>ul>li {
    white-space: nowrap;
    padding: 10px 0 10px 24px;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: 14px;
    padding: 0 4px;
    white-space: nowrap;
    transition: 0.3s;
    letter-spacing: 0.4px;
    position: relative;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: var(--white);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}
.nav-icons a:hover
{
    background-color: transparent;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
    visibility: visible;
    transform: scaleX(1);
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #fff;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 24px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: black;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    color: #666666;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: var(--white);
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}



@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}

/**
* Mobile Navigation
*/
.mobile-nav-toggle {
    color: #fff;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}
.mobile-nav-list li {
    list-style: none;
    margin-bottom: 10px;
    text-align: center;
}
.mobile-nav-list li a{
    list-style: none;
    margin-bottom: 10px;
    color: black;
    text-align: center;
}
.mobile-nav-list li a:hover{
    list-style: none;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul
    {
        display: none;
    }
    .language
    {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(77, 77, 77, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile>ul>li {
    padding: 0;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
    visibility: hidden;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #666666;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: var(--white);
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
    margin: 15px;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
    color: var(--white-2-color);
}

.navbar-mobile .dropdown>.dropdown-active {
    display: block;
}


/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/

.faq .section-title h2,
.faq .section-title p {
    color: #fff;
}

.faq .section-title h2::after {
    background: rgba(255, 255, 255, 0.6);
}

.faq .faq-list {
    /*padding: 0 100px;*/
}

.faq .faq-list ul {
    padding: 0;
    list-style: none;
}

.faq .faq-list li+li {
    margin-top: 15px;
}

.faq .faq-list li {
    padding: 30px;
    color: rgba(var(--default-color-rgb), 0.7);
    background: rgba(255, 255, 255, 0.6);
    border-radius: 16px;
    border: 1px solid rgb(233,233,233,56%);
    position: relative;
}

.faq .faq-list a {
    display: block;
    position: relative;
    line-height: 24px;
    outline: none;
    cursor: pointer;
    margin-right: 20px;
}

.faq .faq-list .icon-show,
.faq .faq-list .icon-close {
    font-size: 24px;
    position: absolute;
    color: var(--primary-color);
    right: -35px;
    top: 0;
}

.faq .faq-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
}

.faq .faq-list .icon-show {
    display: none;
}

.faq .faq-list a.collapsed {
    color: #2c4964;
}

.faq .faq-list a.collapsed:hover {
    color: var(--primary-color);
}

.faq .faq-list a.collapsed .icon-show {
    display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
    display: none;
}

@media (max-width: 1200px) {
    .faq .faq-list {
        padding: 0;
    }
}

.line-120
{
    line-height: 120%;
}

.carousel-dark .carousel-control-next-icon, .carousel-dark .carousel-control-prev-icon {
     /*filter: invert(0) grayscale(0);*/
    background-color: #000000;
    border-radius: 50%;
    border: 10px solid #000000;
}
.statistics-3-height {
    height: 210px;
}

.text-single{color: white}
.text-single:hover{color: black}

.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
}

.embed-responsive::before {
    content: "";
    display: block;
    padding-top: 56.25%; /* 16:9 aspect ratio */
}

.embed-responsive .embed-responsive-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
